.expo
.expo-shared
.idea
/app
/deploy
/kube
/server
/serverless
/tmp
/tools
/web2
/website2

.git
/web
/website
/web-build

**/env
**/node_modules

node_modules
!node_modules/.prisma

private-key.pem
