.expo
.expo-shared
.idea
/app
/deploy
/kube
/server
/serverless
/tmp
/tools
/web2
/website2

.git
/web
/website
/web-build

**/env
**/node_modules

node_modules
# 👇 EXCEPTION: keep prisma
!node_modules/.prisma
# 👇 EXCEPTION: keep Expo web export fonts
!dist/assets/node_modules/**

private-key.pem
