.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*


node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

*.aab
*.ipa
*.afdesign
*.psd
*.afphoto

# macOS
.DS_Store

dist

.idea

assets/tips/image
assets/tips/video

tmp
.env

node_modules

design
*.aoe2record

__pycache__

