.yarn/*
# do not put yarn cache into git anymore
# because react native skia would be 200MB
# !.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/modules/widget/android/build
/android
/ios
/widget
/index.js

play-store-service-account.json
aoe2companion-firebase-adminsdk.json
aoe4companion-firebase-adminsdk.json

node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

private-key.pem

*.aab
*.ipa
*.apk
*.tar.gz
*.afdesign
*.psd
*.afphoto

# macOS
.DS_Store

dist

.idea

assets/tips/image
assets/tips/video

tmp
.env

node_modules

design
*.aoe2record

__pycache__

