.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/android
/ios
/index.js

play-store-service-account.json
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

*.aab
*.ipa
*.apk
*.tar.gz
*.afdesign
*.psd
*.afphoto

# macOS
.DS_Store

dist

.idea

assets/tips/image
assets/tips/video

tmp
.env

node_modules

design
*.aoe2record

__pycache__

