
html {
    display: flex;
    /*height: 100%;*/
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
}

#__next {
    display: flex;
    justify-content: center;
}

/*.app-button {*/
/*    height: 45px;*/
/*}*/


/*.flex-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.flex-row {*/
/*    flex-direction: row;*/
/*}*/

/*.flex-wrap {*/
/*    flex-wrap: wrap;*/
/*}*/

/*.flex-1 {*/
/*    flex: 1;*/
/*}*/

/*.align-center {*/
/*    align-items: center;*/
/*}*/

/*.justify-content-center {*/
/*    justify-content: center;*/
/*}*/

.ag-theme-alpine .ag-root-wrapper {
    border: none !important;
}

/*a {*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    color: inherit;*/
/*    text-decoration: underline;*/
/*}*/



























html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../public/font/Merriweather/Merriweather-Regular.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

body {
    /*font-family: 'Merriweather', sans-serif !important;*/
}

h1, h3 {
    font-family: 'Merriweather', sans-serif !important;
}

.phone-container {
    width: 100%;
}

.phone-container-desktop {
    display: none;
}
.phone-container-mobile {
    display: block;
}

.spacer {
    width: 100px;
    height: 50px;
}

/* MOBILE */

.app-button-spacer {
    width: 10px;
}

.app-button {
    height: 50px;
}

.container {
    max-width: 960px;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase h1, .showcase h3 {
    text-align: center;
}

/* LARGE */

@media (min-width: 992px) {

    .app-button-spacer {
        width: 34px;
    }

    .app-button {
        height: 60px;
    }

    .container {
        max-width: 960px;
    }

    .showcase {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .showcase h1, .showcase h3 {
        text-align: left;
    }

    .phone-container {
        width: 400px;
        max-width: 90vw;
    }

    .phone-container-desktop {
        display: block;
    }
    .phone-container-mobile {
        display: none;
    }
}

.app-button-play-store {
    /*width: 564px;*/
    /*background-image: url("public/app-button-play-store.png");*/
    /*height: 59px;*/
}

.app-button-app-store {
    /*width: 504px;*/
    /*background-image: url("public/app-button-app-store.png");*/
}

.frame {
    /*background-image: url("../public/ios-shot.png");*/
    background-size: contain;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.legal {
    font-size: 0.8em;
    width: 415px;
    margin-top: 50px;
    text-align: justify;
    max-width: 90vw;
}

.align-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.github {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-image: url("../public/github.svg");
    background-size: contain;

    opacity: 0.8;
}

.discord {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-image: url("../public/discord.svg");
    background-size: contain;

    opacity: 0.8;
}

.text-link {
    opacity: 0.8;
    color: black !important;
    text-decoration: none !important;
}

.github-section {
    margin-top: 50px;
    font-size: 0.9em;
    width: 415px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    max-width: 90vw;
}


.newsletter {
    margin-top: 30px;
    width: 415px;
    max-width: 90vw;
    padding: 3px !important;
}

.newsletter p {
    font-size: 0.9em;
}

.newsletter .status {
    font-size: 0.9em;
    margin-top: 10px;
}

.newsletter input {
    padding: 5px;
    margin-right: 10px;
    width: 200px;
}

.newsletter button {
    padding: 5px;
    cursor: pointer;
}

























.container3 {
    min-height: 100vh;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    /*max-width: 1400px;*/
}

.container2 {
    /*min-height: 100vh;*/
    margin-top: 50px;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 960px;
}

main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-left: 0.5rem;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}
