
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Merriweather';
    src: url('public/font/Merriweather/Merriweather-Regular.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

body {
    /*font-family: 'Merriweather', sans-serif !important;*/
}

h1, h3 {
    font-family: 'Merriweather', sans-serif !important;
}

.phone-container {
    width: 400px;
    max-width: 90vw;
}

.spacer {
    width: 100px;
    height: 50px;
}

/* MOBILE */

.app-button {
    height: 50px;
}

.container {
    max-width: 960px;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase h1, .showcase h3 {
    text-align: center;
}

/* LARGE */

@media (min-width: 992px) {

    .app-button {
        height: 60px;
    }

    .container {
        max-width: 960px;
    }

    .showcase {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .showcase h1, .showcase h3 {
        text-align: left;
    }
}

.app-button-play-store {
    /*width: 564px;*/
    /*background-image: url("public/app-button-play-store.png");*/
    /*height: 59px;*/
}

.app-button-app-store {
    /*width: 504px;*/
    /*background-image: url("public/app-button-app-store.png");*/
}

.frame {
    background-image: url("public/ios-shot.png");
    background-size: contain;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.legal {
    font-size: 0.8em;
    width: 415px;
    margin-top: 50px;
    text-align: justify;
    max-width: 90vw;
}

.align-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.github {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-image: url("public/github.svg");
    background-size: contain;

    opacity: 0.8;
}

.text-link {
    opacity: 0.8;
    color: black !important;
    text-decoration: none !important;
}


/* MOBILE */

.github-section {
    margin-top: 50px;
    font-size: 0.9em;
    justify-content: center;
}


/* LARGE */

@media (min-width: 992px) {

    .github-section {
        justify-content: flex-start;
    }
}